#tiepnhan{
    background-color: rgb(248, 232, 225);
    width:800px;
    height:580px;
    position: absolute;
    top:25%;
    left:30%;
    border-style:solid;
    border-radius: 10px;
    border-color:#ffb68c;
}
.submit-button-tiepnhan{
    width:100px;
    height:25px;
    background-color: rgb(245, 200, 164);
    border-style:solid;
    border-color:black;
    border-radius: 15px;
   
}
.submit-button-tiepnhan:hover{
    background-color: rgb(223, 166, 119);
    color:rgb(255, 255, 255);  
}